[submodule "nexus-repository-apk"]
	path = nexus-repository-apk
	url = git@github.com:sonatype-nexus-community/nexus-repository-apk.git
[submodule "nexus-repository-composer"]
	path = nexus-repository-composer
	url = git@github.com:sonatype-nexus-community/nexus-repository-composer.git
